#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
.vsmdi
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
*.msi
*.wixpdb
~$*
*.ncrunchsolution
*.ncrunchsolution.user
*.dat
*.ncrunchproject
*.cache
*.xap
/ClientBin
*.xls
*.xlsm
*.orig
*/Logs/log.txt
