doctype
html
	head

		title= title1
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/stylesheets/vendor/bootstrap.min.css", rel="stylesheet", media="screen")
		link(href="/stylesheets/style.css", rel="stylesheet")
		script(src="/javascripts/vendor/modernizr-latest.js")
	body

		div.container
			div#heading.row
				#heading-image
					img(src="/images/Bird.png", alt="Bird.png")
				#heading-text
					h1= title1
					h2= title2
			div#navigation.row
				div.navbar.navbar-default(role="nagivation")
					div.collapse.navbar-collapse.navbar-ex1-collapse
						ul.nav.navbar-nav
							li
								a(href="#") Home
							li
								a(href="#") Jewellery
							li
								a(href="#") Contact
			div.row
				block content

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="/javascripts/vendor/bootstrap.min.js")
		